[submodule "login-service"]
	path = login-service
	url = https://github.com/footify/login-service.git
[submodule "cli"]
	path = cli
	url = https://github.com/footify/cli.git
[submodule "api-service"]
	path = api-service
	url = https://github.com/footify/api-service.git
